body {
  margin: 0;
  padding: 0;
}


html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#gameCanvas {
  z-index: 100;
}


#minimapCanvas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

.selection {
  z-index: 110;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  font-family: Helvetica;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}
