body {
  margin: 0;
  padding: 0;
}


html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}

#gameCanvas {
  z-index: 1;
}


#minimapCanvas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  border: 1px solid black;
}
